<div class="container-app center">
  <div class="todo-app">
    <h2>To-Do List <i class="fa-regular fa-rectangle-list"></i></h2>

    <app-form-task (taskToCreteRetrieved)="addTask($event)" />

    <ul id="list-container">
      <li *ngFor="let task of tasks">
        <app-task
          [task]="task"
          (taskToCheckedEvent)="toggleChecked($event)"
          (taskToDeleteEvent)="deleteTask($event)"
          (taskToEditEvent)="onHandleTaskEdit(task)"
        />
      </li>
    </ul>

    <button (click)="onHandleLogout()" class="logout btn button-orange">
      <i class="fa-solid fa-plug-circle-minus"></i>
    </button>
  </div>
</div>
<app-edit-modal
  [show]="taskEditMode"
  [taskToEdit]="taskToEdit"
  (closeModalEvent)="onHandleEndTaskEdit($event)"
  (submitEditTaskEvent)="editTask($event)"
/>
