.modal-container {
  z-index: 999;
  background: rgba(0, 0, 0, 0.91);

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 540px;
  background-color: var(--white-color);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;

  h2 {
    width: 100%;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  i {
    width: 30px;
    margin-left: 10px;
  }
}
